@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.user-post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 5px 15px;
    border: 1px solid grey;
    max-width: 565px;
    margin: 0 auto 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-info {
    font-family: 'Lato', sans-serif;
    max-width: 515px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username {
    font-weight: 700;
    display: flex;
}

.email {
    color: grey;
    font-weight: 400;
    padding-left: 5px;
}

.post-title {
    font-weight: 700;
}

.cross-icon {
    margin-left: auto;
    cursor: pointer;
    transition: .3s ease;
    padding-right: 5px;
    transform: scale(1.5);
}

.cross-icon:hover {
    color: grey;
}